# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
.vs
bin
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user
ipch
*sdf

# Misc
*.bak
/List2/VisualStudioProject/ArduinoVS.UnitTest/ArduinoVS.UnitTest.vcxproj.user
